#current-day-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    position: relative;
    border-radius: 5px;
    background-color:beige;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#cel-to-fah{
    float: right;
}


#city-region,#condition-temp,#forecast-main{
    font-size: 2em;
}

hr{
    border-color: black;
}

#forecast-hight{
    font-size: 1.8em;
    color: #E60B0B;
}
#forecast-low{
    font-size: 1.8em;
    color: #0B50E6;
}

#country{
    font-size: 1.4em;
    padding-bottom: 3.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-day {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.4em;
}

.list-icon {
    padding-top: 10px;
}

.list-condition {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.4em;
}



#list-temp{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.4em;
}

.list-maxTemp {
    margin-left: 4px;
    margin-right: 4px;
    color: #E60B0B;

}
.list-minTemp{
    margin-left: 4px;
    margin-right: 4px;
    color: #0B50E6;
}